<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>Fragments</head>

<body>
<div th:fragment="dependencies">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<!--    <link rel="stylesheet"-->
<!--          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
<!--          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"-->
<!--          crossorigin="anonymous">-->

    <!-- Bootstrap scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Custom script as written on bootstrap page -->
</div>

<div th:fragment="menu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">[[#{app.title}]]</a>
            </div>

            <!--            th:text="#{app.title}-->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">[[#{menu.home}]]</a></li>
                    <li><a href="#">[[#{menu.users}]]</a></li>
                    <li><a href="#">[[#{menu.category}]]</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" th:with="currentUrl=(${#httpServletRequest.requestURI + '?'
                 + #strings.defaultString(#httpServletRequest.queryString, '')})">

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{${currentUrl}(lang=en)}">
                                <img src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg"
                                     width="40" height="20">
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{${currentUrl}(lang=uk)}">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Ukraine.svg"
                                     width="40" height="20">
                            </a>
                        </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}">
                        <span class="glyphicon glyphicon-user" sec:authentication="principal.username">Profile</span> </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/registration}"><span
                                class="glyphicon glyphicon-user"></span>[[#{menu.signUp}]]</a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>[[#{menu.login}]]</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span>[[#{menu.logout}]]</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>