<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>[[${pageTitle}]] Book For You</title>
    <div th:replace="fragments :: dependencies">Dependencies</div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="search.css">

</head>
<body>
<div th:replace="fragments :: menu">Menu</div>
<br>
<br>
<br>

<div class="container">
    <!-- Title-->
    <div class="row">
        <div class="col-md-12 text-center"><h2 class="col">[[#{table.title}]]</h2></div>
    </div>
    <br>
</div>

<!-- Add button and search input-->
<!--table with books-->
<div class="container">

    <a sec:authorize="isAuthenticated()" th:href="@{/books/new}"
       class="btn btn-primary table-striped">[[#{table.new}]]</a>

    <form th:object="${lecture}" method="post">
        <div class="text-right">
            <input type="text" name="subject"/><!--th:field="*{subject}"-->
            <input type="submit" value="Search">
        </div>
    </form>


    <table class="table table-bordered table-stripped table-hover">
        <thead class="thread-dark">
        <tr>
            <th>№</th>
            <th>
                <a th:href="@{'/page/' + ${currentPage}
                    + '?sortField=title&sortDir=' + ${reverseSortDir}}">[[#{table.bookTitle}]]</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage}
                    + '?sortField=authors&sortDir=' + ${reverseSortDir}}">[[#{table.author}]]</a>
            </th>
            <th>[[#{table.category}]]</th>
            <th>[[#{table.description}]]</th>
            <th sec:authorize="isAuthenticated()">[[#{table.action}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, iterStat : ${books}"
            th:class="${iterStat.even == true ? 'text-primary' : 'text-success'}">
            <td th:text="${iterStat.index + 1}">Index</td>
            <td th:text="${book.title}">Title</td>
            <td>
                <p th:each="author : ${book.getAuthors()}">
                    <span th:text="${author.getName()}">Author</span>
                </p>
            <td>
                <p th:each="category : ${book.categories}">
                    <span th:text=" ${category.name}">Category</span>
                </p>
            </td>
            <td th:text="${book.description}">Description</td>
            <td sec:authorize="isAuthenticated()">
                <a class="btn btn-danger table-striped">[[#{table.delete}]]</a>
                <a class="btn btn-info table-striped">[[#{table.edit}]]</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--Paging-->
<div class="text-center"><!--<div>&nbsp;</div>-->
    [[#{table.totalItems}]] [[${totalItems}]] - [[#{table.page}]] [[${currentPage}]] [[#{table.of}]]
    [[${totalPages}]]
    &nbsp; - &nbsp;
    <!--First page-->
    <a th:if="${currentPage > 1}" th:href="@{'/page/1' +'?sortField='
            + ${sortField} + '&sortDir=' + ${sortDir}}">[[#{table.firstPage}]]</a>
    <!--        <span th:unless="${currentPage > 1}">First</span>-->
    &nbsp;

    <!--Previous page-->
    <a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1}
            +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[#{table.previousPage}]]</a>
    &nbsp;

    <!--Paging-->
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${i != currentPage}" th:href="@{'/page/' + ${i}
                        +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    <span th:unless="${i != currentPage}">[[${i}]]</span>
                    &nbsp;
                </span>

    <!--Next page-->
    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}
                    +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[#{table.nextPage}]]</a>
    <span th:unless="${currentPage < totalPages}">Next</span>
    &nbsp;

    <!--Last page-->
    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}
            + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[#{table.lastPage}]]</a>
    <!--        <span th:unless="${currentPage < totalPages}">Next</span>-->
    &nbsp;
</div>

</div>

<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        &lt;!&ndash; BEGIN SEARCH RESULT &ndash;&gt;-->
<!--        <div class="col-md-12">-->
<!--            <div class="grid search">-->
<!--                <div class="grid-body">-->
<!--                    <div class="row">-->
<!--                        &lt;!&ndash; BEGIN FILTERS &ndash;&gt;-->
<!--                        <div class="col-md-3">-->
<!--                            <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>-->
<!--                            <hr>-->

<!--                            &lt;!&ndash; BEGIN FILTER BY CATEGORY &ndash;&gt;-->
<!--                            <h4>By category:</h4>-->
<!--                            <div class="checkbox">-->
<!--                                <label><input type="checkbox" class="icheck"> Application</label>-->
<!--                            </div>-->
<!--                            <div class="checkbox">-->
<!--                                <label><input type="checkbox" class="icheck"> Design</label>-->
<!--                            </div>-->
<!--                            <div class="checkbox">-->
<!--                                <label><input type="checkbox" class="icheck"> Desktop</label>-->
<!--                            </div>-->
<!--                            <div class="checkbox">-->
<!--                                <label><input type="checkbox" class="icheck"> Management</label>-->
<!--                            </div>-->
<!--                            <div class="checkbox">-->
<!--                                <label><input type="checkbox" class="icheck"> Mobile</label>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; END FILTER BY CATEGORY &ndash;&gt;-->

<!--                            <div class="padding"></div>-->

<!--                            &lt;!&ndash; BEGIN FILTER BY DATE &ndash;&gt;-->
<!--                            <h4>By date:</h4>-->
<!--                            From-->
<!--                            <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z"-->
<!--                                 data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">-->
<!--                                <input type="text" class="form-control">-->
<!--                                <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>-->
<!--                            </div>-->
<!--                            <input type="hidden" id="dtp_input1" value="">-->

<!--                            To-->
<!--                            <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z"-->
<!--                                 data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">-->
<!--                                <input type="text" class="form-control">-->
<!--                                <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>-->
<!--                            </div>-->
<!--                            <input type="hidden" id="dtp_input2" value="">-->
<!--                            &lt;!&ndash; END FILTER BY DATE &ndash;&gt;-->

<!--                            <div class="padding"></div>-->

<!--                            &lt;!&ndash; BEGIN FILTER BY PRICE &ndash;&gt;-->
<!--                            <h4>By price:</h4>-->
<!--                            Between-->
<!--                            <div id="price1">$300</div>-->
<!--                            to-->
<!--                            <div id="price2">$800</div>-->
<!--                            <div class="slider-primary">-->
<!--                                <div class="slider slider-horizontal" style="width: 152px;">-->
<!--                                    <div class="slider-track">-->
<!--                                        <div class="slider-selection" style="left: 30%; width: 50%;"></div>-->
<!--                                        <div class="slider-handle round" style="left: 30%;"></div>-->
<!--                                        <div class="slider-handle round" style="left: 80%;"></div>-->
<!--                                    </div>-->
<!--                                    <div class="tooltip top hide" style="top: -30px; left: 50.1px;">-->
<!--                                        <div class="tooltip-arrow"></div>-->
<!--                                        <div class="tooltip-inner">300 : 800</div>-->
<!--                                    </div>-->
<!--                                    <input type="text" class="slider" value="" data-slider-min="0"-->
<!--                                           data-slider-max="1000" data-slider-step="1" data-slider-value="[300,800]"-->
<!--                                           data-slider-tooltip="hide"></div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; END FILTER BY PRICE &ndash;&gt;-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END FILTERS &ndash;&gt;-->
<!--                        &lt;!&ndash; BEGIN RESULT &ndash;&gt;-->
<!--                        <div class="col-md-9">-->
<!--                            <h2><i class="fa fa-file-o"></i> Result</h2>-->
<!--                            <hr>-->
<!--                            &lt;!&ndash; BEGIN SEARCH INPUT &ndash;&gt;-->
<!--                            <div class="input-group">-->
<!--                                <input type="text" class="form-control" value="web development">-->
<!--                                <span class="input-group-btn">-->
<!--                                     <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>-->
<!--                                 </span>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; END SEARCH INPUT &ndash;&gt;-->
<!--                            <p>Showing all results matching "web development"</p>-->

<!--                            <div class="padding"></div>-->

<!--                            <div class="row">-->
<!--                                &lt;!&ndash; BEGIN ORDER RESULT &ndash;&gt;-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div class="btn-group">-->
<!--                                        <button type="button" class="btn btn-default dropdown-toggle"-->
<!--                                                data-toggle="dropdown">-->
<!--                                            Order by <span class="caret"></span>-->
<!--                                        </button>-->
<!--                                        <ul class="dropdown-menu" role="menu">-->
<!--                                            <li><a href="#">Name</a></li>-->
<!--                                            <li><a href="#">Date</a></li>-->
<!--                                            <li><a href="#">View</a></li>-->
<!--                                            <li><a href="#">Rating</a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; END ORDER RESULT &ndash;&gt;-->

<!--                                <div class="col-md-6 text-right">-->
<!--                                    <div class="btn-group">-->
<!--                                        <button type="button" class="btn btn-default active"><i class="fa fa-list"></i>-->
<!--                                        </button>-->
<!--                                        <button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; BEGIN TABLE RESULT &ndash;&gt;-->
<!--                            <div class="table-responsive">-->
<!--                                <table class="table table-hover">-->
<!--                                    <tbody>-->
<!--                                    <tr>-->
<!--                                        <td class="number text-center">1</td>-->
<!--                                        <td class="image"><img src="https://via.placeholder.com/50x50/FF8C00" alt="">-->
<!--                                        </td>-->
<!--                                        <td class="product"><strong>Product 1</strong><br>This is the product-->
<!--                                            description.-->
<!--                                        </td>-->
<!--                                        <td class="rate text-right"><span><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>-->
<!--                                        <td class="price text-right">$350</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="number text-center">2</td>-->
<!--                                        <td class="image"><img src="https://via.placeholder.com/50x50/5F9EA0" alt="">-->
<!--                                        </td>-->
<!--                                        <td class="product"><strong>Product 2</strong><br>This is the product-->
<!--                                            description.-->
<!--                                        </td>-->
<!--                                        <td class="rate text-right"><span><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>-->
<!--                                        <td class="price text-right">$1,050</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="number text-center">3</td>-->
<!--                                        <td class="image"><img src="https://via.placeholder.com/50x50" alt=""></td>-->
<!--                                        <td class="product"><strong>Product 3</strong><br>This is the product-->
<!--                                            description.-->
<!--                                        </td>-->
<!--                                        <td class="rate text-right"><span><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span></td>-->
<!--                                        <td class="price text-right">$550</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="number text-center">4</td>-->
<!--                                        <td class="image"><img src="https://via.placeholder.com/50x50/8A2BE2" alt="">-->
<!--                                        </td>-->
<!--                                        <td class="product"><strong>Product 4</strong><br>This is the product-->
<!--                                            description.-->
<!--                                        </td>-->
<!--                                        <td class="rate text-right"><span><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star-o"></i></span></td>-->
<!--                                        <td class="price text-right">$330</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="number text-center">5</td>-->
<!--                                        <td class="image"><img src="https://via.placeholder.com/50x50" alt=""></td>-->
<!--                                        <td class="product"><strong>Product 5</strong><br>This is the product-->
<!--                                            description.-->
<!--                                        </td>-->
<!--                                        <td class="rate text-right"><span><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star"></i></span></td>-->
<!--                                        <td class="price text-right">$540</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="number text-center">6</td>-->
<!--                                        <td class="image"><img src="https://via.placeholder.com/50x50/6495ED" alt="">-->
<!--                                        </td>-->
<!--                                        <td class="product"><strong>Product 6</strong><br>This is the product-->
<!--                                            description.-->
<!--                                        </td>-->
<!--                                        <td class="rate text-right"><span><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>-->
<!--                                        <td class="price text-right">$870</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="number text-center">7</td>-->
<!--                                        <td class="image"><img src="https://via.placeholder.com/50x50/DC143C" alt="">-->
<!--                                        </td>-->
<!--                                        <td class="product"><strong>Product 7</strong><br>This is the product-->
<!--                                            description.-->
<!--                                        </td>-->
<!--                                        <td class="rate text-right"><span><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star-o"></i><i-->
<!--                                                class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>-->
<!--                                        <td class="price text-right">$620</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="number text-center">8</td>-->
<!--                                        <td class="image"><img src="https://via.placeholder.com/50x50/9932CC" alt="">-->
<!--                                        </td>-->
<!--                                        <td class="product"><strong>Product 8</strong><br>This is the product-->
<!--                                            description.-->
<!--                                        </td>-->
<!--                                        <td class="rate text-right"><span><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star"></i><i-->
<!--                                                class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>-->
<!--                                        <td class="price text-right">$1,550</td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; END TABLE RESULT &ndash;&gt;-->

<!--                            &lt;!&ndash; BEGIN PAGINATION &ndash;&gt;-->
<!--                            <ul class="pagination">-->
<!--                                <li class="disabled"><a href="#">«</a></li>-->
<!--                                <li class="active"><a href="#">1</a></li>-->
<!--                                <li><a href="#">2</a></li>-->
<!--                                <li><a href="#">3</a></li>-->
<!--                                <li><a href="#">4</a></li>-->
<!--                                <li><a href="#">5</a></li>-->
<!--                                <li><a href="#">»</a></li>-->
<!--                            </ul>-->
<!--                            &lt;!&ndash; END PAGINATION &ndash;&gt;-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END RESULT &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; END SEARCH RESULT &ndash;&gt;-->
<!--    </div>-->
<!--</div>-->

</body>