<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>[[${pageTitle}]] Book For You</title>
    <div th:replace="fragments :: dependencies">Dependency</div>
</head>

<body>
<div th:replace="fragments :: menu">Menu</div>
<br/>
<br/>
<br/>
<!--login form-->
<div class="container">
    <div class="row">
        <!--bootstrap, css grid system-->
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">[[#{registration.successful}]]</div>
            </div>

            <div th:if="${param.pleaseLogin}">
                <div class="alert alert-info">[[#{login.pleaseLogin}]]</div>
            </div>

            <h1>[[#{login.login}]]</h1>
            <form th:action="@{/login}" method="post">

                <!--error message-->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">[[#{login.error}]]</div>
                </div>

                <!--logout message-->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">[[#{login.logout}]]</div>
                </div>

                <div class="form-group">
                    <label for="username">[[#{login.username}]]</label>:
                    <input type="text" class="form-control" id="username"
                           name="username" th:placeholder="#{login.emailPlaceholder}" autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label for="password">[[#{login.password}]]</label> :
                    <input type="password" class="form-control" id="password"
                           name="password" th:placeholder="#{login.passwordPlaceholder}" autofocus="autofocus">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" th:value="#{login.loginPlaceholder}"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <span>[[#{login.newUser}]]<a href="/" th:href="@{/registration}">
                    [[#{registration.register}]]</a></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>