<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>[[${pageTitle}]] Book For You</title>
    <div th:replace="fragments :: dependencies">Dependencies</div>
</head>

<body>
<div th:replace="fragments :: menu">Menu</div>
<br>
<br>
<br>

<div class="container">
    <!-- Title and search input-->
    <div class="row">
        <div class="col-md-12">
            <div class="col"></div>
            <div class="col-6 text-center"><h2 class="col">[[#{table.title}]]</h2></div>

            <div class="col">
                <form method="get" th:action="@{/books/find}" class="text-right">

                    <input type="text" name="searchParam" th:placeholder="#{book.search.param}"/>

                    <button type="submit">[[#{table.search}]]</button>
                </form>
            </div>
        </div>
    </div>
    <br>
</div>

<!-- Add button, table with books-->
<div class="container">

    <a sec:authorize="hasAnyAuthority('ADMIN', 'LIBRARIAN')" th:href="@{/books/new}"
       class="btn btn-primary table-striped">[[#{table.new}]]</a>

    <table class="table table-bordered table-stripped table-hover">
        <thead class="thread-dark">
        <tr>
            <th>№</th>
            <th>
                <a th:href="@{'/books/page/' + ${currentPage}
                    + '?sortField=title&sortDir=' + ${reverseSortDir} + '&searchParam=' + ${searchParam}}">[[#{table.bookTitle}]]</a>
            </th>
            <th>
                <a th:href="@{'/books/page/' + ${currentPage}
                    + '?sortField=authors&sortDir=' + ${reverseSortDir} + '&searchParam=' + ${searchParam}}">[[#{table.author}]]</a>
            </th>
            <th>
                <a th:href="@{'/books/page/' + ${currentPage}
                    + '?sortField=categories&sortDir=' + ${reverseSortDir} + '&searchParam=' + ${searchParam}}">[[#{table.category}]]</a>
            </th>
            <th><a th:href="@{'/books/page/' + ${currentPage}
                    + '?sortField=publisher&sortDir=' + ${reverseSortDir} + '&searchParam=' + ${searchParam}}">[[#{table.publisher}]]</a></th>
            <th><a th:href="@{'/books/page/' + ${currentPage}
                    + '?sortField=publishedDate&sortDir=' + ${reverseSortDir} + '&searchParam=' + ${searchParam}}">[[#{table.year}]]</a></th>
            <th><a th:href="@{'/books/page/' + ${currentPage}
                    + '?sortField=quantity&sortDir=' + ${reverseSortDir} + '&searchParam=' + ${searchParam}}">[[#{table.amount}]]</a></th>
            <th>[[#{table.description}]]</th>
            <th sec:authorize="isAuthenticated()"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, iterStat : ${books}"
            th:class="${iterStat.even == true ? 'text-primary' : 'text-success'}">
            <td th:text="${iterStat.index + 1}">Index</td>
            <td th:text="${book.title}">Title</td>
            <td>
                <p th:each="author : ${book.getAuthors()}">
                    <span th:text="${author.getName()}">Author</span>
                </p>
            <td>
                <p th:each="category : ${book.categories}">
                    <span th:text=" ${category.name}">Category</span>
                </p>
            </td>

            <td th:text="${book.publisher.name}">Publisher</td>
            <td th:text="${book.publishedDate}">Published Date</td>
            <td th:text="${book.quantity}">Amount</td>

            <td th:text="${book.description}">Description</td>

            <td sec:authorize="hasAnyAuthority('ADMIN', 'LIBRARIAN')">
                <button type="button" class="btn btn-danger table-striped" data-toggle="modal"
                        th:attr="data-target='#recordDeleteModal'+ ${book.id}">[[#{table.delete}]]
                </button>

                <!-- Modal -->
                <div class="modal fade" th:attr="id='recordDeleteModal'+${book.id}" tabindex="-1" role="dialog"
                     aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="recordDeleteModalLabel"
                                    th:text="#{book.delete.record} + ': ' + ${book.title}"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                [[#{book.delete.confirmation}]]
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    [[#{book.delete.no}]]
                                </button>
                                <a href="newRecordForm.html" class="btn btn-primary"
                                   th:attr="href = @{/books/delete/(id=${book.getId()})}">[[#{book.delete.yes}]]</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal end -->

                <a th:href="@{/books/edit}" class="btn btn-info table-striped">[[#{table.edit}]]</a>

            </td>
        </tr>
        </tbody>

    </table>
</div>

<!--Paging-->
<div class="text-center">
    [[#{table.totalItems}]] [[${totalItems}]] - [[#{table.page}]] [[${currentPage}]] [[#{table.of}]]
    [[${totalPages}]]
    &nbsp; - &nbsp;
    <!--First page-->
    <a th:if="${currentPage > 1}" th:href="@{'/books/page/1' +'?sortField='
            + ${sortField} + '&sortDir=' + ${sortDir} + '&searchParam=' + ${searchParam}}">[[#{table.firstPage}]]</a>
    &nbsp;

    <!--Previous page-->
    <a th:if="${currentPage > 1}" th:href="@{'/books/page/' + ${currentPage - 1}
            +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchParam=' + ${searchParam}}">[[#{table.previousPage}]]</a>
    &nbsp;

    <!--Paging-->
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${i != currentPage}"
                       th:href="@{'/books/page/' + ${i} +'?sortField=' + ${sortField}
                       + '&sortDir=' + ${sortDir} + '&searchParam=' + ${searchParam}}">[[${i}]]</a>
                    <span th:unless="${i != currentPage}">[[${i}]]</span>
                    &nbsp;
                </span>

    <!--Next page-->
    <a th:if="${currentPage < totalPages}" th:href="@{'/books/page/' + ${currentPage + 1}
                    +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchParam=' + ${searchParam}}">[[#{table.nextPage}]]</a>
    <span th:unless="${currentPage < totalPages}">Next</span>
    &nbsp;

    <!--Last page-->
    <a th:if="${currentPage < totalPages}" th:href="@{'/books/page/' + ${totalPages}
            + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchParam=' + ${searchParam}}">[[#{table.lastPage}]]</a>
    &nbsp;
</div>

</body>
</html>